@tailwind base;
@tailwind components;
@tailwind utilities;


:where([aria-expanded="true"]) .in-aria-expanded\:hidden{
	display:none;
}


.not-in-aria-expanded\:hidden:not(:where([aria-expanded="true"]) *){
	display:none;
}

a {
    @apply text-blue-600 hover:text-blue-800 hover:underline;
  }
  
a:hover {
  color: #14b8a6; /* Teal on hover (teal-500) */
}


a.cf-submenu:hover {
  text-decoration: none; /* Prevent underline on hover */
}